<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Plan de Viaje | Primeros datos</title>
</head>
<body>
<h1>Bienvenido a la pagina!</h1><br/>
<h3>Realize su PLAN DE VIAJE</h3><br/>
{% if not plan %}
    <form method="post" action="">
        <p><label>Usuario:</label> <input type="text" name="usuario" placeholder = "Nombre de usuario"required></p>
        <p><label>Ciudad de origen:</label> <input type = "text" name="ciudad_origen" placeholder = "Nombre de la ciudad"></input></p>
        <p><label>Ciudad de destino:</label> <input type = "text" name="ciudad_destino" placeholder = "Nombre de la ciudad"></input></p>
        <p><label>Fecha de ida:</label> <input type = "date" name="fecha_ida"></input></p>
        <p><label>Fecha de llegada:</label> <input type = "date" name="fecha_vuelta"></input></p>
        <p><label>Presupuesto:</label> <input type = "number" name="presupuesto" step="20.0" placeholder = "Presupuesto"></input></p>
        <br/><p>
            <input type="submit" name="submit" value="Generar Plan de Viaje">
        </p>
    </form>
{% else %}
    <form method="post">
        {% for item in plan %}
            {% if item.ciudad_origen %}
                <p><h5>VUELO:</h5></p>
                <p><b>CIUDAD DE ORIGEN: </b>{{item.ciudad_origen}}</p>
                <p><b>CIUDAD DE DESTINO: </b>{{item.ciudad_destino}}</p>
                <p><b>FECHA DE IDA: </b>{{item.fecha_ida}}</p>
                <p><b>FECHA DE VUELTA: </b>{{item.fecha_vuelta}}</p>
                <p><b>PRESUPUESTO: </b>{{item.presupuesto}}</p>
            {% else %}
                <p><h5>HOTEL:</h5></p>
                <p><b>NOMBRE: </b>{{item.nombre_hotel}}</p>
                <p><b>DIRECCION: </b>{{item.direccion_hotel}}</p>
                <p><b>TELEFONO: </b>{{item.telefono_hotel}}</p>
            {% endif %}
        {% endfor %}
        <input type="submit" name="submit" value="Aceptar Plan de Viaje">
    </form>
{% endif %}
</body>
</html>